.nav-wrapper{
  background-color: #616161;
  .brand-logo{
    font-size: 22px !important;
    margin-left: 10px;
  }
}


// @media only screen and (min-width: 600px) {
//   .button-collapse {
//     display: none;
//   }
// }